.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.container .welcome {
    text-align: center;
}
.container .top-panel {
    margin: 20px;
}
.container .top-panel a {
    font-size: 18px;
}
.container .top-panel .back {
    float:left;
}
.container .top-panel .logout {
    float:right;
}
.container .card-number-input, .container .pin-input, .container .withdraw-input {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.container .card-number-input input, .container .pin-input input, .container .withdraw-input input {
    width: 320px;
    height: 40px;
    margin: 15px 40px;
    font-size: 24px;
    text-align: center;
}
.container .message, .container .title, .container .error-message, .container .balance-message {
    text-align: center;
}
.container .title, .container .error-message, .container .balance-message {
    font-size: 18px;
}
.container .balance-message {
    margin: 20px;
}
.container .error-message {
    border: red 1px solid;
    padding: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.container .key-block {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.container .key-block .numbers {
    width: 248px;
    float: left;
    margin-left: 35px;
}
.container .key-block .numbers input {
    height: 70px;
    width: 70px;
    margin: 5px;
}
.container .key-block .numbers .zero-key {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
}
.container .key-block .numbers .zero-key input {
    margin: 5px 0px;
}
.container .key-block .actions {
    float: left;
}
.container .key-block .actions input {
    width: 70px;
    height: 30px;
    display: block;
    margin: 5px 5px 10px 5px;
}
.container .operations {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.container .operations a {
    text-decoration: none;
}
.container .operations button {
    display: block;
    width: 150px;
    height: 40px;
    margin: 25px;
}
.container .cheque table tr td, .container .cheque table th {
    border: #333 1px solid;
    padding: 10px;
    text-align: center;
}
.container .cheque table {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
}
.clear {
    clear:both;
}


